allRank==1.3.1
cloud-tpu-client==0.10
comet-ml==3.2.0
fire==0.3.1
flair==0.6.0.post1
matchzoo-py==1.1.1
nltk==3.2.5
numpy==1.18.5
pandas==1.0.5
pydantic==1.6.1
python-dotenv==0.14.0
pytorch-lightning==0.9.0
scikit-learn==0.22.2.post1
sentence-transformers==0.3.6
seqeval==0.0.12
spacy==2.3.2
torch==1.6.0
torchvision==0.7.0
tqdm==4.41.1
transformers==3.1.0
virtualenv==20.0.31
wikiextractor==0.1
xmltodict==0.12.0

nbstripout